.pg-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;

  &__back {
    color: blue;
    margin-bottom: 20px;
  }
}
